<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Canny Edge Detector</title>
    <link rel="stylesheet" href="../static/Css/main.css">
    <style>

    </style>
</head>

<body>
    <div class="container-canny">
        <div id="h2">
            <div class="form-container">
                <label for="sigma" class="title-input"> Sigma:</label>
                <input type="number" id="sigma">
            </div>
            <div class="form-container">
                <label for="kernel" class="title-input"> Kernel size:</label>
                <input type="number" id="kernel">
            </div>

            <div class="form-container">

                <label for="low" class="title-input"> LowerThreshold:</label>
                <input type="number" id="low">
            </div>
            <div class="form-container">
                <label for="high" class="title-input"> HigherThreshold:</label>
                <input type="number" id="high">
            </div>
            <div class="form-container">
                <label for="img1" class="title-input">Select the image:</label>
                <input type="file" id="img1" name="img1" accept=".jpeg, .jpg, .png">
            </div>
        </div>
        <div class="">
            <button id="submitBtn">Apply Canny Edge Detector</button>
        </div>
        <div class="image-container">
            <div id="section1">
                <h2>Input</h2>
                <img id="originalimg1" width="400" height="400">
            </div>
            <div id="section2">
                <h2>Output</h2>
                <img id="modified" width="400" height="400">
            </div>
        </div>
    </div>
    <script src="../static/logic.js"></script>
</body>

</html>